@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --shadow: 0 4px 6px -px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


body {
    background-color: rgb(122, 182, 255);
    font-family: 'Roboto', sans-serif;
}

/*-------------LOBBY STYLING----------------*/

#logo {
    display: block;
    width: 100px;
    margin: 0 auto;
}

#form-container {
    width: 400px;
    box-shadow: var(--shadow);
    background-color: rgb(69, 144, 241);
    padding: 30px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#welcome-message {
    text-align: center;
    margin: 20px;
}

#welcome-message h1 {
    font-size: 36px;
}

#welcome-message p {
    font-size: 16px;
}

.form-field {
    margin: 20px;
}

.form-field label {
    font-size: 16px;
    line-height: 1.7px;
}

.form-field input {
    width: 100%;
    border: 2px solid rgb(184, 194, 241);
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.form-field input::placeholder {
    text-align: center;
}

.form-field input[type='submit'] {
    background-color: rgba(75, 93, 172, 1);
    border: none;
    color: #fff
}

@media and (max-width:450px) {
    form-container {
        width: 95%
    }

    welcome-message h1 {
        font-size: 24px;
    }

}


/*-------------ROOM STYLING----------------*/
#room-name-wrapper {
    text-align: center;
    font-size: 18px;
}

#video-streams {
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 75%;
    margin: 0 auto;

}

.video-container {
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 2px;
    background-color: rgba(198, 202, 219, 1);
    position: relative;
}

.video-player {
    height: 100%;
    width: 100%;
}

.video-player>* {
    border-radius: 8px;
}

.username-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;

}

@media screen and (max-width: 1650px) {
    .video-container {
        flex-basis: 300px;
        min-height: 200px;
    }
}

/* ---------- ROOM STYLE/CONTROLS ----------*/

#controls-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon {
    height: 20px;
    width: 20px;
    box-shadow: var(--shadow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#leave-btn {
    background-color: rgb(255, 0, 0);
}