{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<main>
    <section id="form-container">
      <img id="logo" src= "{% static 'images/chat-icon.png' %}" >
      <div id="welcome-message">
         <h1>Video Call</h1>
      </div>

      <form id="form">
        <div class="form-field">
          <input type="text" name="room" placeholder="Room Name" autocomplete="off" />
        </div>

        <form id="form">
        <div class="form-field">
          <input type="text" name="username" placeholder="Name" autocomplete="off" />
        </div>

        <div class="form-field">
          <input type="submit" value="Join Video Call">
        </div>
      </form>
     </section>
</main>

<script type="text/javascript">
  let form = document.getElementById('form')

  let handleSubmit = async(e) => {
    e.preventDefault()
    let room= e.target.room.value.toUpperCase()
    let name= e.target.username.value.charAt(0).toUpperCase() + e.target.username.value.slice(1)
    let response= await fetch(`/get_token/?channel=${room}`)
    let data= await response.json()

    let UID=data.uid
    let token=data.token

    sessionStorage.setItem('UID', UID)
    sessionStorage.setItem('token', token)
    sessionStorage.setItem('room', room)
    sessionStorage.setItem('name', name)
    
    window.open('/room', '_self')
  }

  form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}