{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<main>
    <section id="form-container">
      <img id="logo" src= "{% static 'images/chat-icon.png' %}" >
      <div>
         <h1>Welcome to Mychat</h1>
         <p>A group calling application just for you!!!</p>
      </div>
      <form id="form">
        <div class="form-field">
          <input type="submit" value="Join Stream">

        </div>
      </form>
     </section>
</main>

<script type="text/javascript">
  let form = document.getElementById('form')
  let handleSubmit = async(e) => {
    e.preventDefault()
    window.open('/room', '_self')
  }
  form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}